// global.scss
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "PingFang SC", "Microsoft YaHei", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
}

/* 自定义选中文本颜色 */
::selection {
  background: #44803f;
  color: #fff;
}
