* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#app {
  .el-input {
    --el-input-inner-height: 40px; // 让输入框更高一点
  }

  .el-button {
    transition: all 0.3s;
  }

  .el-button--primary {
    --el-button-hover-bg-color: #356632;
    --el-button-active-bg-color: #2e4e31;
    font-weight: 600;
    letter-spacing: 1px;
  }
}
