// global.scss
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#app {
  /* 基础品牌色 */
  --el-color-primary: #44803f;
  --el-color-primary-light-3: #82d780;
  --el-color-success: #44803f;

  /* 圆角与阴影 */
  --el-border-radius-base: 14px;
  --el-box-shadow-light: 0 10px 30px rgba(68, 128, 63, 0.08);

  /* 输入框全局重写 */
  --el-input-bg-color: #f9fbf9;
  --el-input-border-color: #eef2ee;
  --el-input-hover-border-color: #44803f;

  .el-input {
    --el-input-inner-height: 40px; // 让输入框更高一点
  }

  .el-button {
    transition: all 0.3s;
  }

  .el-button--primary {
    --el-button-hover-bg-color: #356632;
    --el-button-active-bg-color: #2e4e31;
    font-weight: 600;
    letter-spacing: 1px;
  }
}
